<img id="MainLogo" src="Images/MainLogo.png" />
<br />
<a href="About"><img id="HomePageOne" src="Images/HomePageImageLeft.jpg" /></a>
<br />
<div class="HomeText">Click here to read about the City Roaster difference</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a href="https://www.facebook.com/City-Roasters-175756809789308/?modal=admin_todo_tour" target="_blank" ><img id="HomePageOne" src="Images/HomePageImageRight.jpg" /></a>
<br />
<div class="HomeText">Click here to see our Facebook page</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a href="Contact"><img id="HomePageOne" src="Images/HomePageBottom.png" /></a>
<br />
<div class="HomeText">Click here to get in contact with us</div>